

body {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("https://www.worldatlas.com/r/w1300/upload/bb/c3/32/shutterstock-1041249343.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
  }
  h1 {
    color: white;
    font-family: "press start 2p", sans-serif;
    margin-top: 20px;
    font-size: 40px;
}

img {
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff6f61;
}

#photos div {
    display: inline-block;
    margin: 10px auto;
    width: 90%;
}

#photos div h3 {
    text-align: left;
}

form {
    border: solid white 2px;
    background-color:rgba(128, 128, 128, 0.5);
    padding: 20px;
    padding-bottom: 10px;
    max-width: 500px;
    margin: 0 auto;
}

form p {
    margin: 0;
    margin-top: 10px;
}

#monthInput, #dayInput {
    width: 25px;
    text-align: center;
}

#yearInput {
    width: 40px;
    text-align: center;
}

form div {
    display: inline-block;
}

#roverInput {
    margin-right: 30px;
}

#dateInput {
    margin-right: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}