.header {
    background-color: #ff6f61;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  border: #ffffff;

}

body {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("https://www.worldatlas.com/r/w1300/upload/bb/c3/32/shutterstock-1041249343.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
  }
  h1 {
    color: white;
    font-family: "press start 2p", sans-serif;
    margin-top: 20px;
  }
  img {
    margin: 10px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff6f61;
  }